/* .container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
} */
 /* .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
 } */

 /* .container{
    row-gap: 20px;
    column-gap: 30px;
 } */
  /* .container{
    display: grid;
    justify-items: center;
   
 } */
  .container{
    display: grid;
     /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr); */
     grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
     height: 400px;
   /* align-items: center; */
   
 }
 .box{
    border: 2px solid black;
 }