button{
    background-color: blue;
    height: 100px;
    width: 100px;
    border: 10px solid black;
    border-radius: 100px;
    border-bottom-color:transparent;

    /* animation: move 2s ease infinite; */
    animation: moveBox 1.5s ease-in-out infinite;
}
    /* @keyframes move {
        from{transform: translateX(0);}
        to{transform: translateX(300px);}   
    } */
      @keyframes moveBox {
       0%{
        transform: translateY(0);
       } 
       50%{
        transform: translateY(-50px);
       }
       100%{
        
       }
    }